.destination{
    background-image: url('./assets/destination/background-destination-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    min-height: 100vh;
}

.destination-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.destination-left-content .title{
    margin-top: 50px;
    font-size: 20px;
}

.destination-left-content{
    padding-left: 35%;
}

.destination-right-content{
    margin-top: 100px;
    padding-left: 50px;
}

.destination-content img{
    width: 350px;
    margin-top: -15%;
    margin-left: 15%;
}

.destination-right-content ul{
    display: flex;
    padding: 0;
}

.destination-right-content li{
    font-size: 13px;
}

.destination-right-content .lead{
    font-size: 80px;
    font-family: Bellefair;
    margin-bottom: 30px;
}

.destination-right-content .text{
    opacity: 0.7;
    max-width: 350px;
    line-height: 30px;
}

.destination-right-content p{
    margin: 0;
}

.content-line{
    display: block;
    border-top: solid 0.5px #fff;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 20px;
    opacity: 0.5;
}

.info{
    display: flex;
    font-family: Bellefair;
}

.info-left{
    margin-right: 100px;
}

.info-data{
    font-size: 30px;
}

@media(max-width: 1160px){
    .destination-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .destination-left-content .title{
        display: none;
    }

    .destination-left-content{
        padding: 0;
        padding-top: 50px;
    }

    .destination-right-content{
        width: 100%;
        padding: 0;
        margin-top: 10px;
    }

    .destination-right-content ul,
    .destination-right-content .lead,
    .destination-right-content .text,
    .destination-right-content .info
    {
        width: fit-content;
        margin: 0 auto;
    }

    .destination-right-content li{
        font-size: 15px;
    }

    .destination-right-content .text{
        text-align: center;
    }

    .destination-content img{
        width: 300px;
        margin: 0;
    }

    .content-line{
        width: 700px;
        margin: 20px auto;
    }

    .info-title{
        display: none;
    }
}

@media(max-width:730px){
    .content-line{
        width: 400px;
    }

    .info{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .info-left, .info-right{
        margin: 20px 0;
    }
}

@media(max-width:420px){
    .content-line{
        width: 300px;
    }
}