@font-face {
  font-family: Barlow;
  src: url('./fonts/BarlowCondensed-Medium.ttf');
}

@font-face {
  font-family: BarlowThin;
  src: url('./fonts/BarlowCondensed-Thin.ttf');
}

@font-face {
  font-family: Bellefair;
  src: url('./fonts/Bellefair-Regular.ttf');
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Barlow;
}

ul{
  list-style: none;
}