nav{
    color: #fff;
    display: flex;
    overflow: hidden;
}

nav ul{
    list-style: none;
    display: flex;
    padding: 30px 30px 0 100px;
    margin-bottom: 2px;
    width: 700px;
    backdrop-filter: blur(100px);
    z-index: 1;
    margin-left: auto;
}

li{
    margin-right: 25px;
    cursor: pointer;
    font-size: 13px;
    padding-bottom: 20px;
    letter-spacing: 2px;
}

li:hover{
    border-bottom: 0.5px solid #fff;
}

.logo{
    margin: 30px 5% 0 10%;
    width: 30px;
    height: 30px;
}

.line{
    border-top: 0.5px solid #fff;
    width: 500px;
    margin-top: 50px;
    margin-right: -150px;
    opacity: 0.2;
    z-index: 2;
}

#mobile-menu{
    display: none;
    margin: 30px 20px 0 auto;
    cursor: pointer;
}

@media(max-width: 1210px){
    .line{
        display: none;
    }
}

@media(max-width: 1160px){
    nav ul{
        margin-left: auto;
        white-space: nowrap;
        width: 400px;
    }
}

@media(max-width: 850px){
    nav ul{
        margin-left: auto;
        white-space: nowrap;
        width: 400px;
    }
}

@media(max-width: 630px){
    nav ul{
        display: none;
    }

    #mobile-menu{
        display: initial;
    }
}

